name: build and deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4

      - run: npm install

      - uses: actions/upload-artifact@v4
        with:
          path: |
            index.html
            style.css
            *.png
            node_modules

  deploy:
    needs: build

    runs-on: ubuntu-latest

    permissions:
      id-token: write
      pages: write
      contents: read

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: slides
          path: ./dist

      - uses: actions/configure-pages@v4

      - uses: actions/upload-artifact@v4
        with:
          path: ./dist

      - id: deployment
        uses: actions/deploy-pages@v4
